.Series {
  position : relative;

  display : block;

  height : 100%;
  margin-top : 120px;
  &:first-child {
    margin-top : 0;
  }
}

.Series > * {
  height : 100%;
}

.Series-Left,
.Series-Right {
  position : absolute;
  z-index : 100;
  top : 50%;

  width : 10px;
  height : 30px;

  content : '';
  cursor : pointer;

  background-color : #f9f9f9;

  &:before {
    position : absolute;

    width : 0;
    height : 0;

    content : '';

    border-top : transparent solid 22px;
  }
}
.Series-Left {
  left : 40px;
  &:before {
    top : 4px;
    left : -15px;

    transform : rotateZ(45deg);

    border-left : white solid 22px;
  }
}
.Series-Right {
  right : 40px;
  &:before {
    top : 4px;
    right : -15px;

    transform : rotateZ(-45deg);

    border-right : white solid 22px;
  }
}

.ImageTile,
.TextTile {
  position : absolute;
  top : 0;
  left : 0;

  width : 100%;
  height : 100%;
}

.ImageTile {
  transition : 0s ease opacity 1s;

  opacity : 1;
  img {
    display : block;

    height : 100%;
    margin : 0 auto;
  }
  &.state-left,
  &.state-right {
    transition : 0s ease opacity 0.25s;

    opacity : 0;
  }
}

.TextTile {
  z-index : 10;

  transition : 0s ease opacity 0.25s;

  opacity : 0;
  color : #f9f9f9;

  &.state-focus {
    transition : 0s ease opacity 1s;

    opacity : 1;
  }
}

.TextTile-Buffer {
  height : 25%;
}

.TextTile-Title {
  font-family : 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight : bold;

  display : block;

  width : 90%;
  max-width : 800px;
  margin : 0 auto 10px;

  letter-spacing : 0.1em;

  color : #f3f43e;
}

.TextTile-Content {
  font-family : 'Gesta', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight : lighter;

  display : block;

  width : 90%;
  max-width : 800px;
  margin : 0 auto;

  letter-spacing : 0.1em;

  color : #f3f43e;
}
